* { /* сброс стилей по умолчанию */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;  /* размер всего текста на странице */
    color: #636363;  /* цвет всего текста на странице */
    font-family: sans-serif;  /* сделать текст без засечек */
}

a {
    text-decoration: none;  /* убираю подчеркивание со ссылок */
    color: #636363;  /* цвет всех ссылок на странице */
}

/* будем стилизовать шапку сайта */
.site-header {
    padding: 2em 1.2em; /* внутренний отступ ~32px сверху-снизу, и 19.2px слева-справа */
    background: #2b2929;  /* фон шапки */
    text-align: center;  /* весь текст внутри хедера посередине */
}
/* делаем меню горизонтальным */
.menu li {
    display: inline-block;  /* расположит элементы списка в строчку */
    padding: 0 1em;
}

.nav-link {
    font-size: 1.5rem;  /* умножаю корневое значение (8 строка) на 1.5 */
    color: #fff;
    font-weight: bold;  /* сделать текст жирным */
}

.column {
    width: 25%;
    padding: 0.2em;
    float: left; /* обтекание слева, чтобы картинки выстроились в линию */
}

.column img {
    display: block;
    width: 100%;
    opacity: 0.8; /* прозрачность для картинки */
    border-radius: 0.5em; /* скругление углов картинки */
}

.column img:hover { /* псевдокласс hover показывает, что происходит, когда наводится курсор мыши */
    opacity: 1.0;
    cursor: pointer; /* теперь при наведении, курсор будет меняться так, как будто изображение - это ссылока */
}