body { /* обращаюсь к контейнеру body */
    background: #c6eef2; /* делаю сайту голубой фон */
    font-size: 18px; /* выставляю общий размер шрифта */
    font-family: sans-serif; /* устанавливаю шрифт без засечек */
}

/* чтобы обратиться к классу в сss, нужно
 поставить точку и указать его имя. */
.warning {
    color: #efb001;  /* установил цвет тексту */
    font-size: 1.5rem;  /* установил размер 1.5 от изначального (прописан в body) */
    border: 5px solid #efb001;
    /* рамка: размер стиль цвет;

     Стили рамки:
     * solid - сплошная линия
     * dotted - линия из точек
     * dashed - пунктирная линия
     */
    border-radius: 1rem; /* скругление углов рамки */
}

h1, h2, h3 { /* заголовки 1, 2 и 3 уровней будут стилизоваться одинаково */
    color: #636363;
    font-size: 2em;
    text-decoration: underline; /* подчеркивание */
}
