.classic {
    width: 30%;  /* Ширина 100 пикселей */
    padding: 30px; /* внутренний отступ 30пикс с каждой стороны */
    border: 5px solid green; /* рамка 5 пикселей */
    margin: 60px auto; /* внешний отступ - выставить посередине экрана */

    text-align: center;  /* выставить текст посередине */
}

.alternative {
    box-sizing: border-box; /* теперь размер элемента считается с учетом рамок и отступов */

    width: 30%;  /* Ширина 100 пикселей */
    padding: 30px; /* внутренний отступ 30пикс с каждой стороны */
    border: 5px solid #1d1d7a; /* рамка 5 пикселей */
    margin: 20px auto; /* внешний отступ - выставить посередине экрана */

    text-align: center;  /* выставить текст посередине */
}

span {
    background: #7ddcdc;
    padding: 20px;
    width: 1000px;  /* в оригинале строчный элемент не будет реагировать на ширину */
}



